<% provide(:title, 'Home') %>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="100">
      <%= image_tag 'amazon prime.png', size: '500x600', class: "d-block w-100", alt: "amazon prime"%>
      <div class="carousel-caption d-none d-md-block">
        <h5>Amazon prime</h5>
        <p>アプリで映画観たいけど観たい映画が決まらない...</p>
        <p>そんな時はレビューを見て決めよう！</p>
      </div>
    </div>
    <div class="carousel-item" data-interval="100">
      <%= image_tag 'hulu.jpg', size: '500x600', class: "d-block w-100", alt: "hulu"%>
      <div class="carousel-caption d-none d-md-block">
        <h5>Hulu</h5>
        <p>アプリで映画観たいけど観たい映画が決まらない...</p>
        <p>そんな時はレビューを見て決めよう！</p>
      </div>
    </div>
    <div class="carousel-item" data-interval="100">
      <%= image_tag 'netflix.jpg', size: '500x600', class: "d-block w-100", alt: "netflix"%>
      <div class="carousel-caption d-none d-md-block">
        <h5>Netflix</h5>
        <p>アプリで映画観たいけど観たい映画が決まらない...</p>
        <p>そんな時はレビューを見て決めよう！</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>